@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.login-logo {
  margin:0;
  padding:  0;
  min-height: 40%;
  text-align: center;
  /* background: url("backgnd.png")100% 100%   ; */
  border-radius: 100% 100% ;
  width: 100%;
  /* background: linear-gradient(#428cff 49%, transparent 49%),
        linear-gradient(-45deg, white 33%, transparent 33%) 0 50%,
        white linear-gradient(45deg, white 33%, #428cff 33%) 0 50%;
    background-repeat: repeat-x;
    background-size: 1px 100%, 20px 20px, 20px 20px; */
 
}
.welcome{
  margin:10px;
  font-size: 40px;
  font-family: 'Fredoka One', cursive;
}
.login-logo img {
  width:100%;
}

.list {
  margin-bottom: 0;
}
/* #login-page{
  --background: url("backgnd.png") ;
} */

.loginLabel{
  opacity: 0.5;
}
.errorLogin{
  font-size: 12px;
  color: rgb(49, 49, 49);
}
.vendor-txt{
  margin-left:50%;
  margin-top:30%;
}
.arrow{
  width:20px;
}